{"openapi":"3.1.0","info":{"title":"APIMesh","version":"1.0.0","description":"Pay-per-call API marketplace. 4 web-analysis, SEO, security, and devops APIs for agents and developers.","contact":{"email":"c@vtxathlete.com","url":"https://apimesh.xyz"}},"servers":[{"url":"https://agentcontext.apimesh.xyz","description":"agentcontext"},{"url":"https://agentsmd.apimesh.xyz","description":"agentsmd"},{"url":"https://sigdebug.apimesh.xyz","description":"sigdebug"},{"url":"https://stripesig.apimesh.xyz","description":"stripesig"}],"paths":{},"x-apimesh-apis":[{"name":"agentcontext","endpoint":"https://agentcontext.apimesh.xyz/check","method":"GET","price_usd":0.01,"description":"Agentcontext — pay-per-call API on apimesh.xyz","category":"web-analysis","tags":["web-analysis","agentcontext"]},{"name":"agentsmd","endpoint":"https://agentsmd.apimesh.xyz/check","method":"GET","price_usd":0.01,"description":"Agentsmd — pay-per-call API on apimesh.xyz","category":"web-analysis","tags":["web-analysis","agentsmd"]},{"name":"sigdebug","endpoint":"https://sigdebug.apimesh.xyz/check","method":"GET","price_usd":0.01,"description":"Sigdebug — pay-per-call API on apimesh.xyz","category":"web-analysis","tags":["web-analysis","sigdebug"]},{"name":"stripesig","endpoint":"https://stripesig.apimesh.xyz/check","method":"GET","price_usd":0.01,"description":"Stripesig — pay-per-call API on apimesh.xyz","category":"devops","tags":["devops","stripesig"]}],"x-discovery":{"openapi":"https://apimesh.xyz/openapi.json","agent_card":"https://apimesh.xyz/.well-known/agent-card.json","llms_txt":"https://apimesh.xyz/llms.txt","api_catalog":"https://apimesh.xyz/.well-known/api-catalog"}}